<section class="page-not-found">
    <div [ngSwitch]="isCompatible()">
        <ng-template [ngSwitchCase]="true">
            <div id="totalbase">
                <div id="animbase">
                    <div id="base">
                        <div id="baseshadow"></div>
                        <div class="helitop">
                            <div class="wingbase">
                                <div class="col1"></div>
                                <div class="col2"></div>
                                <div class="col3"></div>
                                <div class="col4"></div>
                                <div class="wing1"></div>
                                <div class="wing2"></div>
                            </div>
                        </div>
                        <div class="helifront">
                            <div class="tailbase">
                                <div class="tail1">
                                    <div class="tail21"></div>
                                    <div class="tail22"></div>
                                    <div class="tail23"></div>
                                    <div class="tail24">
                                        <div class="tailwingbase">
                                            <div class="tail221"></div>
                                            <div class="tail222"></div>
                                            <div class="tail223"></div>
                                            <div class="tail224"></div>
                                            <div class="tailwing1"></div>
                                            <div class="tailwing2"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tail25"></div>
                                <div class="tail26"></div>
                            </div>
                        </div>
                        <div class="heliback">
                            <div class="front1"></div>
                            <div class="front2"></div>
                            <div class="front3"></div>
                            <div class="front4"></div>
                            <div class="front5"></div>
                        </div>
                        <div class="helileft"></div>
                        <div class="heliright"></div>
                        <div class="helibottom"></div>
                    </div>
                </div>
                <div id="towerbase">
                    <div id="talkbubble" align="center">
                        Page<br> not found<br>404
                    </div>
                    <div class="tower1left"></div>
                    <div class="tower1right"></div>
                    <div class="tower2right">
                        <div class="tower1window"></div>
                    </div>
                    <div class="tower1top">

                        <div class="front1">
                            <div class="col1"></div>
                            <div class="col2"></div>
                            <div class="col3"></div>
                            <div class="col4"></div>
                        </div>
                        <div class="front2"></div>
                        <div class="front3"></div>

                    </div>
                    <div class="tower2top"></div>
                    <div class="tower2left">
                        <div class="tower2window"></div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template [ngSwitchCase]="false">
            <h1 style="text-align: center">Page Not Found</h1>  
        </ng-template>
</div>
</section>